@use "@/variables.scss" as global;

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(global.$dark-background, 0.6);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: global.$transition-time;
    animation: appearing global.$transition-time;

    &.close {
        opacity: 0;
    }

    .modal {
        display: flex;
        flex-direction: column;
        position: relative;
        color: global.$active-color;
        font-family: Montserrat, sans-serif;
        width: clamp(26.8rem, 80vw, 37rem);
        background-color: global.$block-color;
        border-radius: clamp(1.2rem, 2vw, 2rem);
        min-height: clamp(23rem, 25vw, 28.1rem);

        .top {
            padding: 1rem clamp(2rem, 3vw, 2.5rem);
            font-weight: 600;
            border-bottom: 0.1rem solid global.$active-color;

            .title {
                font-size: clamp(2rem, 2.3vw, 2.8rem);
                text-align: center;
            }
        }

        .text {
            margin: 1rem clamp(2rem, 3vw, 2.5rem);
            font-size: clamp(1.6rem, 3vw, 2rem);
        }

        .bottom {
            display: flex;
            justify-content: center;
            border-top: 0.1rem solid global.$active-color;
            margin-top: auto;
            padding: clamp(1rem, 1vw, 1.2rem) 0;

            .buttons {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                .cancel_button {
                    font-size: clamp(1.6rem, 2vw, 2rem);
                }
            }
        }
    }
}

@keyframes appearing {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (width >= 360px) {
    .background {
        .modal {
            .bottom {
                .buttons {
                    flex-direction: row;
                    gap: 1rem;
                }
            }
        }
    }
}
