@use "@/variables.scss" as global;

.tag {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 0.1rem solid global.$active-color;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.16rem;
    transition: global.$transition-time;

    &.button {
        background-color: global.$dark-background;
        cursor: pointer;

        &:hover {
            background-color: global.$bright-background;
        }
    }
}
