@use "@/variables.scss" as global;

.button {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: global.$bright-background;
    cursor: pointer;
    transition: global.$transition-time;

    .navigation_img {
        width: 100%;
        height: 100%;
        stroke-width: 0.1rem;
        transition: global.$transition-time;
    }
}

@media (width >= 1200px) {
    .button {
        width: 7.2rem;
        height: 7.2rem;
        border-radius: 2.5rem;
    }
}
