.links_list {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: clamp(0.3rem, calc(2.5vw - 1rem), 0.6rem);
    white-space: nowrap;
}

@media (width >= 600px) {
    .links_list {
        margin-top: clamp(1rem, 1vw, 1.6rem);
    }
}
