@use "@/variables.scss" as global;

.toast {
    position: fixed;
    max-width: 80%;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    gap: clamp(1rem, 2vw, 1.25rem);
    padding: clamp(1.2rem, 1.5vw, 1.4rem) clamp(1.6rem, 2vw, 2rem);
    border-radius: 0.8rem;
    font-weight: 500;
    z-index: 9999;
    opacity: 0;
    transform: translateX(calc(100% + 2rem));
    transition:
        transform global.$transition-time ease,
        opacity global.$transition-time ease;

    &.visible {
        opacity: 1;
        transform: translateX(0);
    }

    &.success {
        background-color: global.$bright-background;
        border: 0.1rem solid global.$positive-active;
        color: global.$positive-active;

        &.icon {
            color: global.$positive-active;
        }
    }

    &.error {
        background-color: global.$negative-background;
        border: 0.1rem solid global.$negative-active;
        color: global.$negative-active;

        &.icon {
            color: global.$negative-active;
        }
    }

    .text {
        font-size: clamp(1.6rem, 2vw, 2.4rem);
    }
}
