@use "@/variables.scss" as global;

.footer {
    padding: 2rem 0;
    background-color: global.$footer-bg;

    .footer_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 clamp(0rem, calc(19.5vw - 5rem), 6.7rem);
        gap: 1rem;

        .title {
            font-size: clamp(1.6rem, 2vw, 2.4rem);
            color: global.$other-text-color;
            font-weight: 600;
            letter-spacing: 0.16rem;
        }

        .other {
            margin-top: 2.5rem;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;

            .status {
                .server_status {
                    margin-top: 0.3rem;
                    font-size: clamp(1.2rem, 1.8vw, 2.4rem);
                    letter-spacing: 0.12rem;
                    font-weight: 600;
                }
            }
        }

        .logo_wrapper {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .rights {
                margin-top: clamp(1rem, calc(2vw - 1rem), 2rem);
                font-size: clamp(1.4rem, 2vw, 2.4rem);
                letter-spacing: 0.14rem;
                font-weight: 600;
            }
        }
    }
}

@media (width >= 600px) {
    .footer {
        .footer_inner {
            flex-direction: row;
            padding: 0;

            .logo_wrapper {
                order: 1;
                margin-top: 1rem;
                align-items: center;

                .rights {
                    margin-top: auto;
                    text-align: center;
                }
            }

            .info {
                order: 2;
                padding-left: 1rem;
                padding-right: 1rem;
                border-left: 0.1rem solid global.$active-color;
                border-right: 0.1rem solid global.$active-color;
            }

            .other {
                order: 3;
                margin-top: 0;

                .status {
                    .server_status {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}

@media (width >= 600px) and (width <= 649px) {
    .footer {
        .footer_inner {
            .logo_wrapper {
                .rights {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (width >= 660px) {
    .footer {
        .footer_inner {
            .info {
                order: 2;
                padding-left: clamp(0.5rem, 2vw, 4rem);
                padding-right: clamp(0.5rem, 2vw, 4rem);
            }

            .logo_wrapper {
                margin-top: 0;
            }
        }
    }
}

@media (width >= 1200px) {
    .footer {
        .footer_inner {
            gap: 1.5rem;
        }
    }
}

@media (width >= 1400px) and (width <= 1500px) {
    .footer {
        .footer_inner {
            gap: clamp(1.5rem, 30vw, 3.5rem);
        }
    }
}

@media (width >= 1500px) and (width <= 1699px) {
    .footer {
        .footer_inner {
            .title {
                font-size: 2rem;
            }

            .other {
                .status {
                    .server_status {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@media (width >= 1700px) {
    .footer {
        .footer_inner {
            gap: clamp(1.5rem, 30vw, 4.5rem);
        }
    }
}
