@use "@/variables.scss" as global;

.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.8rem;
    transition: global.$transition-time;
    gap: clamp(0.6rem, 1vw, 1rem);

    &:hover {
        background-color: global.$active-color;
        color: global.$block-color;
    }

    &:active {
        background-color: global.$second-active-color;
    }

    .image {
        width: clamp(2rem, 2.4vw, 3rem);
        height: clamp(2rem, 2.4vw, 3rem);
    }

    .title {
        font-size: clamp(1.6rem, 2vw, 2rem);
        font-weight: 600;
    }
}
