@use "@/variables.scss" as global;

.button {
    padding: 0.6rem;
    height: clamp(3.5rem, 5vw, 4.5rem);
    width: clamp(3.5rem, 5vw, 4.5rem);
    background-color: global.$active-color;
    border-radius: 1.2rem;
    color: global.$bright-background;
    cursor: pointer;
    transition: global.$transition-time;

    &:hover {
        box-shadow: 0 0 clamp(1rem, 2vw, 2rem) 0.1rem rgba(global.$active-color, 0.5);
    }

    .icon {
        width: 100%;
        height: 100%;
        transition: global.$transition-time;
    }
}
