@use "@/variables.scss" as global;

.button {
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    border: 0.1rem solid global.$active-color;
    background-color: global.$bright-background;
    padding: 0.8rem 0;
    border-radius: 2rem;
    transition: global.$transition-time;

    &:hover {
        border-color: global.$second-active-color;
        color: global.$second-active-color;
    }
}
