@use "@/variables.scss" as global;

.link {
    padding: clamp(1rem, 2vw, 2.2rem) clamp(2.2rem, 4vw, 5rem);
    background-color: global.$active-color;
    color: global.$dark-background;
    border-radius: clamp(1rem, 2vw, 2rem);
    font-size: clamp(1.8rem, 4vw, 3.2rem);
    letter-spacing: 0.09rem;
    font-weight: 600;
    cursor: pointer;
    transition: global.$transition-time;

    &:hover {
        box-shadow: 0 0 clamp(1rem, 2vw, 2rem) 0.1rem rgba(global.$active-color, 0.5);
    }

    &:active {
        background-color: global.$second-active-color;
        box-shadow: 0 0 clamp(1rem, 2vw, 2rem) 0.1rem
            rgba(global.$second-active-color, 0.5);
        transform: scale(0.975);
    }
}
