@use "@/variables.scss" as global;

.albums {
    margin-top: 1.5rem;
    width: 100%;
    min-width: 0;

    .title {
        text-align: center;
        font-size: 2.4rem;
        letter-spacing: 0.24rem;
        font-weight: 600;
    }

    .slider_wrapper {
        position: relative;
        margin-top: 1.5rem;

        .slide_left {
            left: -1.5rem;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            transition: global.$transition-time;

            &:hover:not(.disabled) {
                background-color: global.$active-color;

                .slide_img {
                    stroke: global.$bright-background;
                }
            }

            &.disabled {
                opacity: 0.3;
                cursor: default;
            }
        }

        .slide_right {
            right: -1.5rem;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            transition: global.$transition-time;

            &:hover:not(.disabled) {
                background-color: global.$active-color;

                .slide_img {
                    stroke: global.$bright-background;
                }
            }

            &.disabled {
                opacity: 0.3;
                cursor: default;
            }
        }
    }
}

@media (width >= 600px) {
    .albums {
        width: 80%;
        margin: 1.5rem auto 0;

        .slider_wrapper {
            .slide_left {
                left: -5.5rem;
            }

            .slide_right {
                right: -5.5rem;
            }
        }
    }
}

@media (width >= 900px) {
    .albums {
        width: 70%;

        .slider_wrapper {
            .slide_left {
                left: -6rem;
            }

            .slide_right {
                right: -6rem;
            }
        }
    }
}

@media (width >= 1100px) {
    .albums {
        width: 60%;
    }
}

@media (width >= 1200px) {
    .albums {
        width: 100%;

        .slider_wrapper {
            .slide_left {
                left: -7rem;
            }

            .slide_right {
                right: -7rem;
            }
        }
    }
}

@media (width >= 1750px) {
    .albums {
        width: clamp(80%, 32vw, 90%);

        .slider_wrapper {
            .slide_left {
                left: -8rem;
            }

            .slide_right {
                right: -8rem;
            }
        }
    }
}
