@use "@/variables.scss" as global;

.post_list {
    margin-top: 2rem;
    min-height: 30rem;

    .add_post {
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: global.$bright-background;
        border: 0.1rem solid global.$active-color;
        border-radius: 2.5rem;
        width: 23rem;
        height: 30rem;
        cursor: pointer;
        animation: appearing 1s;
        box-shadow: 0 0 1rem 0.5rem global.$block-shadow-color;
        transition: global.$transition-time;

        &:hover {
            background-color: global.$active-color;

            .add_icon {
                color: global.$bright-background;
            }

            .add_post_title {
                color: global.$bright-background;
            }
        }

        .add_icon {
            position: absolute;
            top: 18%;
            width: 9rem;
            height: 9rem;
            stroke-width: 0.1rem;
            transition: global.$transition-time;
        }

        .add_post_title {
            position: absolute;
            top: 65%;
            font-size: 2.7rem;
            font-weight: 500;
            letter-spacing: 0.2rem;
            transition: global.$transition-time;
        }
    }

    .title {
        font-size: 2.4rem;
        letter-spacing: 0.24rem;
        font-weight: 600;
        text-align: center;

        &.flexible {
            font-size: clamp(2.4rem, 5vw, 4rem);
        }

        &.empty {
            margin-bottom: 2rem;
        }
    }

    .list_wrapper {
        display: grid;
        grid-template-rows: 0fr;
        animation: show 0.8s forwards;
    }

    .list {
        margin-top: 2rem;
        gap: 2rem;
        column-gap: 4rem;
        display: grid;
        place-content: start space-around;
        grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
        overflow: hidden;

        &.grid_3 {
            grid-template-columns: minmax(23rem, 1fr) minmax(23rem, 1fr) minmax(
                    23rem,
                    1fr
                );
        }

        &.flexible {
            margin-top: clamp(2rem, 5vw, 4rem);
        }
    }
}

@keyframes appearing {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (width >= 1200px) {
    .post_list {
        .list {
            row-gap: 3rem;
        }
    }
}

@keyframes show {
    0% {
        grid-template-rows: 0fr;
    }

    100% {
        grid-template-rows: 1fr;
    }
}
