$block-color: #1e1e1e;
$bright-background: #1d1d1d;
$dark-background: #121212;
$active-color: #c1b7d5;
$second-active-color: #9e96ad;
$transition-time: 250ms;
$block-shadow-color: rgba(#000, 0.25);
$negative-background: #2d1616;
$negative-active: #c40000;
$other-text-color: #fff;
$positive-active: #009d05;
$bright-green: #00ff73;
$my-time-color: #4c514a;
$other-time-color: #4c514a;
$footer-bg: #1f1f1f;
