@use "@/variables.scss" as global;

.message {
    align-self: start;
    background-color: global.$second-active-color;
    border-radius: clamp(1rem, 2vw, 1.4rem);
    padding: clamp(0.5rem, 1vw, 1rem) clamp(1rem, 2vw, 1.5rem) clamp(0.3rem, 1vw, 0.7rem);
    max-width: 75%;

    &.your {
        align-self: end;
        background-color: global.$active-color;

        .info {
            .time {
                color: global.$my-time-color;
            }
        }
    }

    &.new {
        animation: slide-up global.$transition-time ease-out;
    }

    .text {
        color: global.$bright-background;
        font-size: clamp(1.4rem, 3vw, 2rem);
        font-weight: 600;
        letter-spacing: 0.07rem;
        justify-self: end;

        &::selection {
            color: global.$active-color;
            background-color: global.$bright-background;
        }
    }

    .info {
        margin-top: clamp(0.1rem, 1vw, 0.7rem);
        display: flex;
        gap: clamp(0.3rem, 0.5vw, 0.5rem);
        justify-self: end;

        .icon {
            color: global.$dark-background;
            width: clamp(1.3rem, 2vw, 2rem);
            height: clamp(1.3rem, 2vw, 2rem);
            align-self: center;
        }

        .time {
            color: global.$other-time-color;
            font-size: clamp(1.2rem, 2vw, 1.6rem);
            font-weight: 600;
            letter-spacing: clamp(0.06rem, 1vw, 0.08rem);
        }
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
